---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>
{% for co in site.page %}
        <div class="col-md-8">
            <h1>{{ co.title }}</h1>

            <div id="markdown-content-container">

            <ul>
            <li>
            <a target="_blank" href="{{ co.csvlink }}">Download Data</a>
            </li>
            <li>
           <strong>Link to Catalogue or Reference Book Used:</strong>{{ co.textlink }}
            </li>
            </ul>
            <p>{{ co.content }}
            </p>
            </div>
            <p class="text-center">
              <br />

            </p>
            <hr>
            {% include section_nav.html %}
        </div>
{% endfor %}
    </div>
</div>
