---
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
      $('#library-table').DataTable();
  } );
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>

            <div id="markdown-content-container">

            <ul>
{% if page.category != 'home' %}
            <li>
            <strong><a target="_blank" href="{{ page.csvlink }}">Download Data</a></strong>
            </li>


            <li>

           <strong>Catalogue or Reference Book Used: {{ page.textlink }} <a href="{{ page.textview }}" target="_blank">(link)</a>

            </li>
  {% endif %}
            </ul>
            <p>{{ page.content }}
            </p>
            </div>
            <p class="text-center">
              <br />

            </p>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
